extends ../layout.jade

block title
  title Edit #{puppy.name}

block content
  h1 Edit #{puppy.name}
  form(action="/puppies/#{puppy.id}?_method=put" method="post")
    p
      label(for="name") Name &nbsp;
      input(type="text" name="puppy[name]" id="name" value =puppy.name autofocus)
    p
      label(for="age") Age &nbsp;
      input(type="text" name="puppy[age]" id="age" autofocus value = puppy.age)

    input(type="submit" value="Save" class="btn btn-success")


