extends ../layout.jade

block title
  title #{puppy.name}

block content
  h1 #{puppy.name}'s show page

  a(href="/puppies/#{puppy.id}/edit", class="btn btn-info") Edit this puppy

  br

  a(href='/') Go home
